<template>
  <img
    :src="normalizedSrc"
    :style="imgStyle"
  />
</template>

<script>
export default {
  name: 'CAvatar',
  props: {
    src: {
      type: String,
      required: true,
    },
    size: {
      type: Number,
      default: 60,
    },
  },
  data: () => ({
    defaultSrc: '/images/avatar-default.jpg',
  }),
  computed: {
    normalizedSrc() {
      return this.src || this.defaultSrc;
    },
    imgStyle() {
      return {
        width: `${this.size}px`,
        height: `${this.size}px`,
        minWidth: `${this.size}px`,
        minHeight: `${this.size}px`,
        borderRadius: `${Math.ceil(this.size / 2)}px`,
      };
    },
  },
};
</script>
