<template>
  <div class="field has-addons">
    <div class="control has-icons-left">
      <input
        type="text"
        class="input"
        placeholder="ДД.ММ.ГГГГ"
        ref="datepicker"
        :value="value"
      >
      <span class="icon is-small is-left">
        <i class="fas fa-birthday-cake"></i>
      </span>
    </div>
    <div class="control">
      <a
        class="button is-info"
        @click="openDatepickr"
      >
        <span class="icon is-small">
          <i class="far fa-calendar-alt"></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import isNull from 'lodash/isNull';
import isNumber from 'lodash/isNumber';

import Flatpickr from 'flatpickr';
import { Russian } from 'flatpickr/dist/l10n/ru';
import 'flatpickr/dist/themes/airbnb.css';


export default {
  name: 'CDatepickr',
  props: {
    value: {
      required: true,
      validator(value) {
        return isNull(value) || isNumber(value);
      },
    },
  },
  data: () => ({
    fpInstance: null,
  }),
  watch: {
    value: 'updateDatepickr',
  },
  mounted() {
    this.fpInstance = Flatpickr(this.$refs.datepicker, {
      locale: Russian,
      altInput: true,
      altFormat: 'd.m.Y',
      dateFormat: 'U',
      onChange: (selectedDates, dateStr) => {
        const newDate = dateStr.length === 0 ? null : Number(dateStr);
        this.$emit('input', newDate);
      },
    });
  },
  beforeDestroy() {
    this.fpInstance.destroy();
  },
  methods: {
    updateDatepickr() {
      if (this.fpInstance) this.fpInstance.setDate(this.value * 1000);
    },
    openDatepickr() {
      this.fpInstance.open();
    },
  },
};
</script>
