<template>
  <input
    type="text"
    :placeholder="placeholder"
    v-model="localValue"
  >
</template>

<script>
import debounce from 'lodash/debounce';

export default {
  name: 'CInputDebounce',
  props: {
    value: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    delay: {
      type: Number,
      default: 300,
    },
  },
  data: () => ({
    localValue: '',
  }),
  watch: {
    value: {
      handler() {
        this.localValue = this.value;
      },
      immediate: true,
    },
    localValue() {
      this.debounceEmitValue();
    },
  },
  created() {
    this.debounceEmitValue = debounce(this.emitValue, this.delay);
  },
  methods: {
    emitValue() {
      this.$emit('input', this.localValue);
    },
  },
};
</script>
