<template>
  <nav
    class="pagination is-rounded is-centered"
    role="navigation"
    aria-label="pagination"
  >
    <button
      class="button pagination-previous"
      @click="previousPage"
      :disabled="isPreviousButtonDisabled"
    >
      Предыдущая
    </button>
    <button
      class="button pagination-next"
      @click="nextPage"
      :disabled="isNextButtonDisabled"
    >
      Следующая
    </button>
    <ul class="pagination-list">
      <li
        v-for="pageNumber in totalPages"
        :key="pageNumber"
      >
        <button
          class="button pagination-link"
          :class="{'is-current': pageNumber === page}"
          @click="setPage(pageNumber)"
        >
          {{ pageNumber }}
        </button>
      </li>
      <!-- <li><span class="pagination-ellipsis">&hellip;</span></li> -->
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'CPagination',
  model: {
    prop: 'page',
    event: 'change',
  },
  props: {
    page: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },
  computed: {
    isPreviousButtonDisabled() {
      return this.page <= 1;
    },
    isNextButtonDisabled() {
      return this.page >= this.totalPages;
    },
  },
  methods: {
    setPage(pageNumber) {
      this.$emit('change', Number(pageNumber));
    },
    previousPage() {
      if (!this.isPreviousButtonDisabled) this.setPage(this.page - 1);
    },
    nextPage() {
      if (!this.isNextButtonDisabled) this.setPage(this.page + 1);
    },
  },
};
</script>
