<template>
  <div class="field">
    <div class="control has-icons-left">
      <div class="select">
        <select
          :value="selected"
          @input="setValue"
        >
          <option
            v-for="option in options"
            :key="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
      <div class="icon is-small is-left">
        <i class="far fa-list-alt"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CSelectNumber',
  model: {
    prop: 'selected',
    event: 'change',
  },
  props: {
    selected: {
      type: Number,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
  },
  methods: {
    setValue(event) {
      this.$emit('change', Number(event.target.value));
    },
  },
};
</script>
