<template>
  <div>
    <table
      class="table is-hoverable"
      style="width: 100%"
    >
      <thead>
        <tr>
          <slot name="table-header"></slot>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in items"
          :key="item.id"
        >
          <slot
            name="table-row"
            :item="item"
          ></slot>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'CTable',
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>
  td {
    vertical-align: middle !important;
  }
</style>
