<template>
  <div class="field is-expanded">
    <div class="field has-addons">
      <div class="control">
        <input
          ref="newTagInput"
          class="input"
          type="text"
          placeholder="Новый тег"
          :class="{'is-danger': error}"
          @keyup.enter="addTag"
          v-model.trim="newTag"
        >
      </div>
      <div class="control">
        <a
          class="button is-info"
          @click="addTag"
        >
          Добавить
        </a>
      </div>
    </div>

    <div class="tags" style="padding-top: 10px">
      <span
        class="tag is-warning is-small"
        v-for="tag in value"
        :key="tag"
      >
        {{ tag }}
        <button
          type="button"
          class="delete is-small"
          @click="deleteTag(tag)"
        ></button>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CTagsEditor',
  props: {
    value: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    newTag: '',
  }),
  computed: {
    error() {
      return this.newTag.length !== 0 && this.value.includes(this.newTag);
    },
  },
  methods: {
    addTag() {
      if (this.newTag.length === 0 || this.error) return;

      const newTags = this.value.slice();
      newTags.push(this.newTag);

      this.newTag = '';
      this.$refs.newTagInput.focus();

      this.$emit('input', newTags);
    },
    deleteTag(tagName) {
      const tagIndex = this.value.indexOf(tagName);
      if (tagIndex === -1) return;

      const newTags = this.value.slice();
      newTags.splice(tagIndex, 1);

      this.$emit('input', newTags);
    },
  },
};
</script>
