<template>
  <vue-editor
    v-model="content"
    :editorToolbar="customToolbar"
    :placeholder="placeholder"
  >
  </vue-editor>
</template>

<script>
import { VueEditor } from 'vue2-editor';

export default {
  name: 'CTextEditor',
  components: {
    VueEditor,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    content: null,
    customToolbar: [
      ['bold', 'italic', 'underline', 'strike'],
      [{ color: [] }],
    ],
  }),
  watch: {
    value: {
      handler() {
        this.content = this.value;
      },
      immediate: true,
    },
    content() {
      this.$emit('input', this.content);
    },
  },
};
</script>
