<template>
  <toggle-button
    :sync="true"
    :value="value"
    :width="40"
    @change="onChangeEvent"
  />
</template>

<script>
import ToggleButton from 'vue-js-toggle-button/src/Button.vue';

export default {
  name: 'CToggleButton',
  components: {
    ToggleButton,
  },
  props: {
    value: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    onChangeEvent({ value }) {
      this.$emit('input', value);
    },
  },
};
</script>
