<template>
  <div>
    <div class="listHeader">
      <div>
        <div
          class="loader"
          v-if="loading"
        ></div>
        <h5
          class="title is-5"
          v-else
        >
          {{ totalUsersText }}
        </h5>
      </div>
      <div class="listControls">
        <div class="field" style="padding-right: 10px;">
          <p class="control is-expanded has-icons-left">
            <c-input-debounce
              class="input"
              placeholder="Фамилия"
              v-model="searchValue"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>

        <div style="padding-right: 10px;">
          <p class="control has-icons-left">
            <span class="select">
              <select v-model="sortType">
                <option
                  v-for="(name, value) in options.sortTypes"
                  :key="value"
                  :value="value"
                >
                  {{ name }}
                </option>
              </select>
            </span>
            <span class="icon is-small is-left">
              <i class="fas fa-sort-amount-down"></i>
            </span>
          </p>
        </div>

        <div>
          <c-select-number
            v-model.number="limit"
            @change="loadUsers"
            :options="options.limits"
          />
        </div>
      </div>
    </div>

    <template v-if="!loading && totalUsers">
      <c-table :items="users">
        <template slot="table-header">
          <slot name="table-header"></slot>
        </template>
        <template
          slot="table-row"
          slot-scope="{ item }"
        >
          <slot
            name="table-row"
            :item="item"
          ></slot>
        </template>
      </c-table>

      <div class="hspace"></div>

      <c-pagination
        v-model.number="page"
        :totalPages="totalPages"
      />
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import plural from 'plural-ru';

export default {
  name: 'UsersList',
  components: {
    CTable: () => import('@/components/CTable.vue'),
    CPagination: () => import('@/components/CPagination.vue'),
    CSelectNumber: () => import('@/components/CSelectNumber.vue'),
    CInputDebounce: () => import('@/components/CInputDebounce.vue'),
  },
  props: {
    // Сигнал для обновления списка пользователей
    updateUsers: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({
    users: [],
    totalUsers: null,
    page: null,
    limit: null,
    searchValue: null,
    sortType: null,
    loading: true,
    forcedPageRedirect: false,

    default: {
      page: 1,
      limit: 10,
      searchValue: '',
      sortType: 'id',
    },

    options: {
      sortTypes: {
        id: 'По дате добавления',
        lastName: 'По фамилии',
        firstName: 'По имени',
        birthday: 'По возрасту',
      },
      limits: [5, 10, 20],
    },
  }),
  computed: {
    totalPages() {
      return Math.ceil(this.totalUsers / this.limit) || 1;
    },
    totalUsersText() {
      if (!this.totalUsers) return 'Пользователей не найдено';
      return `Всего ${plural(this.totalUsers, '%d пользователь', '%d пользователя', '%d пользователей')}`;
    },
    sortOrder() {
      return this.sortType === 'birthday' ? 'desc' : 'asc';
    },
    apiUrl() {
      return `${this.$config.get('api.host')}/users`;
    },
    apiParams() {
      return {
        _page: this.page,
        _limit: this.limit,
        _sort: this.sortType,
        lastName_like: this.searchValue,
        _order: this.sortOrder,
      };
    },
    urlRouteQuery() {
      return {
        page: this.page,
        sort: this.sortType,
        search: this.searchValue,
      };
    },
  },
  watch: {
    updateUsers: 'loadUsers',
    urlRouteQuery() {
      // Если страница была принудительно изменена (когда нет результатов),
      // то происходит замена маршрута для корректной работы истории
      if (this.forcedPageRedirect) {
        this.forcedPageRedirect = false;
        this.toRoute('replace');
      } else this.toRoute();
    },
    $route() {
      this.setDataFromRoute();

      // Если в запросе указаны неправильные параметры,
      // то произойдет замена на исправленный маршрут
      this.toRoute('replace');
    },
    apiParams: 'loadUsers',
  },
  created() {
    this.setDataFromDefault();
    this.setDataFromRoute();
    this.toRoute('replace');
  },
  methods: {
    setDataFromDefault() {
      Object.assign(this, this.default);
    },
    setDataFromRoute() {
      const { query } = this.$route;

      this.page = Number.parseInt(query.page, 10) || this.default.page;
      this.sortType = (query.sort && query.sort in this.options.sortTypes)
        ? query.sort
        : this.default.sortType;
      this.searchValue = query.search || this.default.searchValue;
    },

    toRoute(action = 'push') {
      this.$router[action]({
        name: this.$route.name,

        // Объединение с текущим query, чтобы другие компоненты
        // могли также независимо его использовать
        query: Object.assign({}, this.$route.query, this.urlRouteQuery),
      });
    },
    loadUsers() {
      this.loading = true;
      this.$nprogress.start();

      axios
        .get(this.apiUrl, {
          params: this.apiParams,
        })
        .then((response) => {
          this.users = response.data;
          this.totalUsers = Number(response.headers['x-total-count']) || this.users.length;
          if (this.users.length === 0 && this.totalUsers > 0) {
            this.forcedPageRedirect = true;
            this.page = this.totalPages;
          }
        })
        .catch(() => {
          this.$notify({ type: 'error', title: 'Произошла ошибка' });
        })
        .finally(() => {
          this.loading = false;
          this.$nprogress.done();
        });
    },
  },
};
</script>

<style>
  .listHeader {
    display: flex;
    justify-content: space-between;
  }

  .listControls {
    display: flex;
  }
</style>
