<template>
  <div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <c-avatar
          v-show="!errors.has('avatar')"
          :src="localUser.avatar"
          :size="100"
        />
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              name="avatar"
              type="text"
              class="input"
              :class="{'is-danger': errors.has('avatar')}"
              placeholder="URL адрес аватарки"
              v-validate="'url'"
              v-model.trim="localUser.avatar"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-link"></i>
            </span>
          </p>
          <p
            class="help is-danger"
            v-show="errors.has('avatar')"
          >
            {{ errors.first('avatar') }}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal"></div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Пользователь</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              name="lastName"
              class="input"
              :class="{'is-danger': errors.has('lastName')}"
              type="text"
              placeholder="Фамилия"
              v-validate="'required'"
              v-model.trim="localUser.lastName"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <p
            class="help is-danger"
            v-show="errors.has('lastName')"
          >
            {{ errors.first('lastName') }}
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              name="firstName"
              type="text"
              class="input"
              :class="{'is-danger': errors.has('firstName')}"
              placeholder="Имя"
              v-validate="'required'"
              v-model.trim="localUser.firstName"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <p
            class="help is-danger"
            v-show="errors.has('firstName')"
          >
            {{ errors.first('firstName') }}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              name="email"
              type="text"
              class="input"
              :class="{'is-danger': errors.has('email')}"
              placeholder="E-mail"
              v-validate="'required|email'"
              v-model.trim="localUser.email"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-at"></i>
            </span>
          </p>
          <p
            class="help is-danger"
            v-show="errors.has('email')"
          >
            {{ errors.first('email') }}
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              type="text"
              class="input"
              placeholder="Телефон"
              v-model.trim="localUser.phone"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              type="text"
              class="input"
              placeholder="Адрес"
              v-model.trim="localUser.address"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input
              type="text"
              class="input"
              placeholder="Компания"
              v-model.trim="localUser.company"
            >
            <span class="icon is-small is-left">
              <i class="far fa-building"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <c-text-editor
              placeholder="О себе"
              :key="localUser.id"
              v-model="localUser.about">
            </c-text-editor>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <c-datepicker
          v-model="localUser.birthday"
        />
      </div>
    </div>

    <div class="field is-horizontal"></div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <c-tags-editor
          :key="user.id"
          v-model="localUser.tags"
        />
      </div>
    </div>

    <div class="field is-horizontal"></div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Баланс</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="field has-addons">
            <p class="control">
              <input
                name="balance"
                type="text"
                class="input"
                :class="{'is-danger': errors.has('balance')}"
                placeholder="0.00"
                v-validate="'decimal:2'"
                v-model.trim.number="localUser.balance"
              >
            </p>
            <p class="control">
              <a class="button is-static">₽</a>
            </p>
          </div>
          <p
            class="help is-danger"
            v-show="errors.has('balance')"
          >
            {{ errors.first('balance') }}
          </p>
          </div>
      </div>
    </div>

    <div class="field is-horizontal"></div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Уровень доступа</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select
                v-model="localUser.accessLevel"
              >
                <option value="" disabled >Выберите вариант</option>
                <option value="guest">Гость</option>
                <option value="user">Пользователь</option>
                <option value="admin">Администратор</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Активен</label>
      </div>
      <div class="field-body">
        <c-toggle-button
          v-model="localUser.isActive"
        />
      </div>
    </div>

    <div class="userForm-controls">
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field is-grouped">
            <slot name="controls" :validateForm="validateForm"></slot>
            <div class="control">
              <button
                type="button"
                class="button is-text"
                @click="resetForm"
              >
                Отменить изменения
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import isEqual from 'lodash/isEqual';
import cloneDeep from 'lodash/cloneDeep';

export default {
  name: 'UserForm',
  model: {
    prop: 'user',
    event: 'change',
  },
  components: {
    CAvatar: () => import('@/components/CAvatar.vue'),
    CDatepicker: () => import('@/components/CDatepicker.vue'),
    CTagsEditor: () => import('@/components/CTagsEditor.vue'),
    CToggleButton: () => import('@/components/CToggleButton'),
    CTextEditor: () => import('@/components/CTextEditor.vue'),
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    localUser: null,
    notModifiedUser: null,
  }),
  watch: {
    localUser: {
      deep: true,
      handler() {
        this.$emit('change', cloneDeep(this.localUser));
      },
    },
    user: {
      deep: true,
      handler() {
        if (!isEqual(this.user, this.localUser)) {
          this.localUser = cloneDeep(this.user);
          this.notModifiedUser = cloneDeep(this.user);
        }
      },
      immediate: true,
    },
  },
  methods: {
    resetForm() {
      this.localUser = cloneDeep(this.notModifiedUser);
      this.newTag = '';
    },
    validateForm() {
      return this.$validator
        .validate()
        .then((isNotErrors) => {
          if (!isNotErrors) throw new Error('The form contains errors');
        });
    },
  },
};
</script>

<style>
  .userForm-controls {
    padding-top: 15px;
  }
</style>
