<template>
  <div id="app">
    <div class="tabs">
      <ul>
        <router-link
          :to="{ name: 'Users' }"
          tag="li"
          :class="{ 'is-active': $route.name === 'Users' }"
        >
          <a>Список пользователей</a>
        </router-link>
        <router-link
          :to="{ name: 'Contacts' }"
          tag="li"
          :class="{ 'is-active': $route.name === 'Contacts' }"
        >
          <a>Контакты</a>
        </router-link>
        <router-link
          :to="{ name: 'UserAdd' }"
          tag="li"
          active-class="is-active"
        >
          <a>Добавить пользователя</a>
        </router-link>
      </ul>
    </div>

    <router-view/>

    <notifications position="top right" width="200px" />
  </div>
</template>

<style>
  #app {
    margin: 50px;
  }

  .hspace {
    padding-top: 30px;
  }
</style>
