<template>
  <div>
    <user-form
      v-if="user"
      v-model="user"
    >
      <template
        slot="controls"
        slot-scope="{ validateForm }"
      >
        <div class="control">
          <button
            type="button"
            class="button is-link"
            @click="addUser(validateForm)"
          >
            Добавить
          </button>
        </div>
      </template>
    </user-form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'UserAddPage',
  components: {
    UserForm: () => import('@/components/UserForm.vue'),
  },
  data: () => ({
    user: {
      id: null,
      isActive: false,
      balance: null,
      avatar: '',
      birthday: null,
      accessLevel: 'guest',
      firstName: '',
      lastName: '',
      company: '',
      email: '',
      phone: '',
      address: '',
      about: '',
      tags: [],
    },
  }),
  computed: {
    apiUrl() {
      return `${this.$config.get('api.host')}/users`;
    },
  },
  methods: {
    addUser(validateForm) {
      validateForm()
        .then(() => {
          axios
            .post(this.apiUrl, this.user)
            .then(response => response.data)
            .then((data) => {
              this.$router.push({ name: 'UserEdit', params: { userId: data.id } });
              this.$notify({
                type: 'success',
                title: 'Пользователь добавлен',
              });
            })
            .catch(() => {
              this.$notify({ type: 'error', title: 'Произошла ошибка' });
            });
        })
        .catch(() => {
          this.$notify({ type: 'warn', title: 'Поля заполнены неверно' });
        });
    },
  },
};
</script>
