<template>
  <div>
    <users-list>
      <template slot="table-header">
        <th width="5%"></th>
        <th width="10%">Фамилия</th>
        <th width="10%">Имя</th>
        <th width="20%">E-mail</th>
        <th width="20%">Телефон</th>
        <th width="35%"></th>
      </template>

      <template
        slot="table-row"
        slot-scope="{ item }"
      >
        <td>
          <c-avatar
            :src="item.avatar"
            :size="65"
          />
        </td>

        <td>{{ item.lastName }}</td>
        <td>{{ item.firstName }}</td>

        <td>
          <p class="buttons">
            <button
              v-if="item.email"
              class="button is-rounded is-small"
            >
              <span class="icon is-small">
                <i class="fas fa-at"></i>
              </span>
              <span :title="item.email">{{ item.email }}</span>
            </button>
          </p>
        </td>
        <td>
          <p class="buttons">
            <button
              v-if="item.phone"
              class="button is-rounded is-small"
            >
              <span class="icon is-small">
                <i class="fas fa-phone"></i>
              </span>
              <span>{{ item.phone }}</span>
            </button>
          </p>
        </td>

        <td>
          <div class="field is-grouped">
            <p class="control">
              <button
                class="button is-rounded"
                v-copy="getCopyData(item)"
              >
                <span class="icon">
                  <i class="far fa-copy"></i>
                </span>
              </button>
            </p>
          </div>
        </td>
      </template>
    </users-list>
  </div>
</template>

<script>
import { copy } from 'v-copy';

export default {
  name: 'ContactsPage',
  components: {
    CAvatar: () => import('@/components/CAvatar.vue'),
    UsersList: () => import('@/components/UsersList.vue'),
  },
  directives: {
    copy,
  },
  methods: {
    getCopyData(user) {
      return `${user.lastName} ${user.firstName}: ${user.phone}`;
    },
  },
};
</script>
