<template>
  <div>
    <div class="field has-addons">
      <p class="control">
        <button
          class="button"
          @click="previousUser"
        >
          <span class="icon is-small">
            <i class="fas fa-angle-double-left"></i>
          </span>
        </button>
      </p>
      <p class="control">
        <button
          class="button"
          @click="nextUser"
        >
          <span class="icon is-small">
            <i class="fas fa-angle-double-right"></i>
          </span>
        </button>
      </p>
    </div>

    <div
      class="loader"
      v-if="loading"
    ></div>
    <div v-else-if="!user">
      Пользователь с id <b>{{ userId }}</b> не найден
    </div>
    <user-form
      v-else
      v-model="user"
    >
      <template slot="controls" slot-scope="{ validateForm }">
        <div class="control">
          <button
            type="button"
            class="button is-link"
            @click="saveUser(validateForm)"
          >
            Сохранить
          </button>
        </div>
        <div class="control">
          <button
            type="button"
            class="button is-danger"
            @click="deleteUser"
          >
            Удалить
          </button>
        </div>
      </template>
    </user-form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'UserEditPage',
  components: {
    UserForm: () => import('@/components/UserForm.vue'),
  },
  data: () => ({
    user: null,
    loading: true,
  }),
  computed: {
    userId() {
      return Number(this.$route.params.userId);
    },
    apiUrl() {
      return `${this.$config.get('api.host')}/users/${this.userId}`;
    },
  },
  watch: {
    $route: 'loadUser',
  },
  mounted() {
    this.loadUser();
  },
  methods: {
    loadUser() {
      this.loading = true;
      this.$nprogress.start();

      axios
        .get(this.apiUrl)
        .then(response => response.data)
        .then((data) => {
          this.user = data;
        })
        .catch((error) => {
          if (error.response.status === 404) {
            this.user = null;
          } else {
            this.$notify({ type: 'error', title: 'Произошла ошибка' });
          }
        })
        .finally(() => {
          this.loading = false;
          this.$nprogress.done();
        });
    },
    saveUser(validateForm) {
      validateForm()
        .then(() => {
          axios
            .put(this.apiUrl, this.user)
            .then(() => {
              this.$notify({
                type: 'success',
                title: 'Сохранено',
              });
              this.$router.push({ name: 'Users' });
            })
            .catch(() => {
              this.$notify({ type: 'error', title: 'Произошла ошибка' });
            });
        })
        .catch(() => {
          this.$notify({ type: 'warn', title: 'Поля заполнены неверно' });
        });
    },
    deleteUser() {
      axios
        .delete(this.apiUrl)
        .then(() => {
          this.$notify({
            type: 'success',
            title: 'Пользователь удален',
          });
          this.$router.push({ name: 'Users' });
        })
        .catch(() => {
          this.$notify({ type: 'error', title: 'Произошла ошибка' });
        });
    },
    previousUser() {
      if (this.userId < 1) return;
      this.$router.push({ name: 'UserEdit', params: { userId: this.userId - 1 } });
    },
    nextUser() {
      this.$router.push({ name: 'UserEdit', params: { userId: this.userId + 1 } });
    },
  },
};
</script>
