<template>
  <div>
    <users-list :updateUsers="updateUsers">
      <template slot="table-header">
        <th width="5%"></th>
        <th width="10%">Фамилия</th>
        <th width="10%">Имя</th>
        <th width="5%">Возраст</th>
        <th width="20%"></th>
        <th width="20%">Теги</th>
        <th width="10%">Баланс</th>
        <th width="5%">Активен</th>
        <th width="15%"></th>
      </template>

      <template
        slot="table-row"
        slot-scope="{ item }"
      >
        <td>
          <c-avatar
            :src="item.avatar"
            :size="65"
          />
        </td>

        <td>{{ item.lastName }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.birthday | age }}</td>

        <td>
          <p class="buttons">
            <button
              v-if="item.email"
              class="button is-rounded is-small"
            >
              <span class="icon is-small">
                <i class="fas fa-at"></i>
              </span>
              <span :title="item.email">{{ item.email | ellipsis(20) }}</span>
            </button>

            <button
              v-if="item.phone"
              class="button is-rounded is-small"
            >
              <span class="icon is-small">
                <i class="fas fa-phone"></i>
              </span>
              <span>{{ item.phone }}</span>
            </button>
          </p>
        </td>

        <td>
          <div class="tags">
            <span
              v-for="tag in item.tags"
              :key="tag"
              class="tag is-light"
            >
              {{ tag }}
            </span>
          </div>
        </td>

        <td v-if="item.balance">{{ item.balance }}₽</td>
        <td v-else></td>

        <td>
          <c-toggle-button
            :value="item.isActive"
            @input="changeUserActive(item.id, $event)"
          />
        </td>

        <td>
          <div class="field is-grouped">
            <p class="control">
              <button
                class="button is-rounded"
                v-copy="getCopyData(item)"
              >
                <span class="icon">
                  <i class="far fa-copy"></i>
                </span>
              </button>
            </p>
            <p class="control">
              <router-link
                class="button is-rounded"
                :to="{ name: 'UserEdit', params: { userId: item.id } }"
              >
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </router-link>
            </p>
            <p class="control">
              <button
                class="button is-rounded is-warning"
                @click="deleteUser(item.id)"
                :class="{ 'is-loading': isDeletingUser(item.id) }"
              >
                <span class="icon">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </p>
          </div>
        </td>
      </template>
    </users-list>
  </div>
</template>

<script>
import axios from 'axios';
import { copy } from 'v-copy';
import differenceInYears from 'date-fns/difference_in_years';

export default {
  name: 'UsersPage',
  components: {
    CAvatar: () => import('@/components/CAvatar.vue'),
    CToggleButton: () => import('@/components/CToggleButton.vue'),
    UsersList: () => import('@/components/UsersList.vue'),
  },
  directives: {
    copy,
  },
  filters: {
    age(birthdayTimestamp) {
      if (!birthdayTimestamp) return '';
      return differenceInYears(Date.now(), birthdayTimestamp * 1000);
    },
    ellipsis(value, maxSymbols) {
      return value.length > maxSymbols ? `${value.substr(0, maxSymbols)}...` : value;
    },
  },
  data: () => ({
    // Пользователи, которые сейчас удаляются (для прогрессбара на кнопках)
    deletingUsers: [],

    // Для передачи в users-list в качестве сигнала обновления списка пользователей
    updateUsers: 0,
  }),
  computed: {
    apiUsersUrl() {
      return `${this.$config.get('api.host')}/users`;
    },
  },
  methods: {
    getCopyData(user) {
      return `${user.lastName} ${user.firstName}: ${user.phone}`;
    },
    isDeletingUser(userId) {
      return this.deletingUsers.includes(userId);
    },
    deleteUser(userId) {
      if (this.isDeletingUser(userId)) return;
      this.deletingUsers.push(userId);

      axios
        .delete(`${this.apiUsersUrl}/${userId}`)
        .then(() => {
          this.deletingUsers = this.deletingUsers.filter(value => value !== userId);
          this.$notify({
            type: 'success',
            title: 'Пользователь удален',
          });

          // Обновить список пользователей
          this.updateUsers += 1;
        })
        .catch(() => {
          this.$notify({ type: 'error', title: 'Произошла ошибка' });
        });
    },
    changeUserActive(userId, activeStatus) {
      axios
        .patch(`${this.apiUsersUrl}/${userId}`, { isActive: activeStatus })
        .then(() => {
          this.$notify({
            type: 'success',
            title: 'Статус изменен',
          });
        })
        .catch(() => {
          this.$notify({ type: 'error', title: 'Произошла ошибка' });
        });
    },
  },
};
</script>
